<!DOCTYPE HTML>
<html>
    <head>
        <title>Team 5 - RPi</title>
        <link rel="icon" href="./static/favicon.ico">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="./static/webserver.css">
        
        <link rel="stylesheet" href="./static/material.min.css">
        <script src="./static/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <script type="text/javascript" src="./static/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./static/webserver.js"></script>

    </head>

    <body>
        <div id="wrapper">
            <nav></nav>
			<main></main>
        </div>
    </body>
</html>