* {
  font-family: Verdana, Arial;
  font-size: 12px;
}

#wrapper {
	display: flex;
}

main {
	flex: 1;
	padding: 10px;
	margin: 10px;
}

.content-grid {
  max-width: 700;
}

.align-right {
  text-align: right;
}